@model BanSach.Models.agency

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>agency</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.agency_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agency_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.agency_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agency_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.agency_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agency_phone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.agency_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
